.carousel-custom {
  overflow: auto;
  padding-left: 30px;
  width: 100%;
  position: relative;
}

.carousel__container {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 10px;
  padding: 40px;
}

.carousel__container:hover .carousel-custom-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-custom-item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}