.header {
  align-items: center;
  background: #022b54;
  color: white;
  display: flex;
  height: 80px;
  top: 0px;
  width: 100%;
  justify-content: space-between;
}

.header__img {
  margin-left: 20px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: aliceblue;
  padding: 5px;
}

.header__menu {
  margin-right: 30px;
}

.header__title {
  font-size: large;
  color: white;
  margin-top: 10px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 15px;
  padding: 0px;
  position: absolute;
  width: auto;
  text-align: right;
  right: 50px;
}

.header__menu:hover ul,
ul:hover {
  display: inline-block;
}

.header__menu li {
  margin: 10px;
  margin-right: 0px;
  width: 100%;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}
